* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
}

.post-container {
    text-align: left;
}

.post-title {
    font-size: 1.8em;
}

.post-date {
    font-style: italic;
    
}

.post-content {
    font-size: 0.875em;
    text-align: justify;
    padding-top: 1em;
}

.post-timer {
    text-align: right;
    font-style: italic;
}

.login-banner h1 {
    font-size: 3em;
    color: aquamarine;
}

.login-banner p {
    font-size: 1.25em;
}

.login-page {
    align-items: center;
}