/* Color Reference: https://colorffy.com/dark-theme-generator?colors=1a5fb4-121212 */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
}

.media-body {
    text-align: left;
    background-color: #a6b4de;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.8rem;
}

.post-title a {
    font-size: 1em;
    color: #5f80c5;
    text-decoration: none;
}

.post-title a:hover{
    color: #1a5fb4;
}

.me-2.post-author {
    color: #5f80c5;
    text-decoration: none;
}

.me-2.post-author:hover {
    color: #1a5fb4;
}

.post-content {
    text-align: justify;
    font-size: 0.875em;
}

.form-group {
    padding: 0.5em;
}

::placeholder {
    text-align: center;
    font-size: 0.875em;
}

.navbar {
    background-color: #5f80c5;
}

