{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="container login-page">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="login-banner">
                        <h1>Momentia</h1>
                        <p>Live in the moment!</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <form action="/login" method="post">
                    <div class="mb-3">
                        <input autocomplete="off" autofocus type="text" class="form-control mx-auto w-auto" name="username" placeholder="Username">
                    </div>
                    <div class="mb-3">
                        <input autocomplete="off" autofocus type="password" class="form-control mx-auto w-auto" name="password" placeholder="Password">
                    </div>
                    <button class="btn btn-primary" type="submit">Log In</button>
                </form>
                <a href="">Forgot password?</a>
            </div>
        </div>
    </div>
{% endblock %}